<div class="nav-bar__container">
  <nav class="nav-bar">
    <div class="nav-bar__brand">
      <a class="nav-bar__link" routerLink="/">
        <img
          class="nav-bar__logo"
          src="https://cdn.auth0.com/blog/hello-auth0/auth0-shield.svg"
          alt="Auth0 shield logo"
          width="35.98"
          height="40"
        />
      </a>
    </div>
    <div class="nav-bar__tabs">
      <a
        routerLink="/profile"
        class="nav-bar__tab"
        routerLinkActive="nav-bar__tab--active"
      >
        Profile
      </a>
      <a
        routerLink="/external-api"
        class="nav-bar__tab"
        routerLinkActive="nav-bar__tab--active"
      >
        External API
      </a>
    </div>
    <div class="nav-bar__actions">
      <app-authentication-button></app-authentication-button>
    </div>
  </nav>
</div>
